<mt-layout-container class="fxyq_fxsq">
    <div>
        <div style="background-color: rgba(255, 234, 203, 1);padding:0 10px;">
            <div style="height:50px;">
                <div v-show="settingInfo.FXKSRQ != settingInfo.FXJZRQ&&!openFlag&&sfyjxdet" style="color: #FF7949;float:left;line-height:50px;font-size: 14px;">安排返校日期：{{settingInfo.FXKSRQ}}至...</div>
                <div v-show="settingInfo.FXKSRQ != settingInfo.FXJZRQ&&openFlag&&sfyjxdet" style="color: #FF7949;float:left;line-height:50px;font-size: 14px;">安排返校日期：{{settingInfo.FXKSRQ}}至{{settingInfo.FXJZRQ}}</div>
                <div v-show="settingInfo.FXKSRQ == settingInfo.FXJZRQ&&sfyjxdet" style="color: #FF7949;float:left;line-height:50px;font-size: 14px;">安排返校日期：{{settingInfo.FXKSRQ}}</div>
                <div @click="openHeader" v-show="!openFlag" class="detailmore blink">展开&问题咨询</div>
            </div>

            <div v-show="openFlag">
                <div v-show="sfyjxdet" v-html="settingInfo.FXTZ" class="xssq_html_fwb" style="color: #FF7949;line-height:50px;font-size: 14px;line-height:20px;">{{settingInfo.FXTZ}}</div>
                <div style="color: #FF7949;line-height:50px;font-size: 14px;line-height:20px;">
                    </br>
                    <img src="../public/images/jlewm.png"></img>
                    </br>
                    业务问题请先联系辅导员,技术问题请进群</br>
                    <!-- QQ群：返校管理系统答疑群</br>
					QQ群号：981463390</br> -->
                    电话：郭老师，82668827转809或18092920310</br>
                    注：如手机号码错误请至西安交通大学APP中修改,</br>
                    修改3小时候后，本系统手机号自动变更。为便于使用，</br>
                    建议<a href="https://org.xjtu.edu.cn/h5/downloadPc.html" target="_blank">下载最新版移动交通大学APP</a></br>
                    <!-- 手机号：罗老师，15929996303 -->
                </div>
                <div @click="openHeader" style="color: #52C7CA;text-align:right;line-height:50px;font-size: 12px;">收起</div>
            </div>

        </div>

        <div id="addfxsq_grxx" v-show="type == 1">
            <div style="padding-left: 10px;background-color: white;height: 50px;line-height: 50px;">
                <span class="green_span"></span>
                <span class="addfxsq_form_title">个人信息</span>
            </div>
            <emapm-form :model="model" v-model="fxsqValue" :custom-vm="customVm" ref="form" :readonly="readonly">
            </emapm-form>
        </div>

        <div class="addfxsq_grxx" v-show="type == 1">
            <div style="padding-left: 10px;background-color: white;height: 50px;line-height: 50px;">
                <span class="green_span"></span>
                <span class="addfxsq_form_title">三单一书</span>
            </div>
            <div @click="toJkda" class="sdys_div bh-bg-color-light">
                <div style="display: inline-block;margin: 0 10px;">
                    <mt-image v-show="noDays==0 && fxsqValue.JQJZBA && jkdays==14 && !JKZM_FLAG" src="../public/images/1jkda.png" style="width:40px;" :watermark="false">
                    </mt-image>
                    <mt-image v-show="noDays>0 || !fxsqValue.JQJZBA || jkdays<14 || JKZM_FLAG" src="../public/images/1jkda_yel.png" style="width:40px;" :watermark="false">
                    </mt-image>
                </div>
                <div class="sdys_left">
                    <div class="sdys_leftup">
                        健康档案单
                        <mt-button v-show="noDays>0 || !fxsqValue.JQJZBA" class="sdys_leftup_btn">未完成</mt-button>
                        <mt-button v-show="noDays==0 && fxsqValue.JQJZBA" class="sdys_leftup2_btn">已完成</mt-button>
                    </div>
                    <div class="sdys_leftdown">
                        健康档案状态：
                        <span v-show="noDays==0 && fxsqValue.JQJZBA && jkdays==14" class="sdys_leftdown_span" style="color: #4FC033;">正常</span>
                        <span v-show="noDays>0 || !fxsqValue.JQJZBA || jkdays<14 " class="sdys_leftdown_span">异常<span v-show="noDays>0">（存在{{noDays}}天未填写）</span></span>
                        <span class="sdys_leftdown_span" style="margin-left: 8px;" v-if="JKZM_FLAG">(补填)</span>
                    </div>
                </div>
                <div style="display: inline-block;vertical-align: top;">
                    <mt-icon size="20px" name="icon-keyboardarrowright" class="bh-color-gray-3 xgtxbr">
                    </mt-icon>
                </div>
            </div>
            <div @click="toFxxc" class="sdys_div bh-bg-color-light">
                <div style="display: inline-block;margin: 0 10px;">
                    <mt-image src="../public/images/2fxxc.png" style="width:40px;" :watermark="false">
                    </mt-image>
                </div>
                <div class="sdys_left">
                    <div class="sdys_leftup">
                        返校行程报告单
                        <mt-button v-show="!fxsqValue.MQSZD || fxsqValue.MQSZD == ''" class="sdys_leftup_btn">未完成</mt-button>
                        <mt-button v-show="!!fxsqValue.MQSZD" class="sdys_leftup2_btn">已完成</mt-button>
                    </div>
                    <div class="sdys_leftdown">
                        返校行程的安排信息
                    </div>
                </div>
                <div style="display: inline-block;vertical-align: top;">
                    <mt-icon size="20px" name="icon-keyboardarrowright" class="bh-color-gray-3 xgtxbr">
                    </mt-icon>
                </div>
            </div>
            <div @click="toJlgj" class="sdys_div bh-bg-color-light">
                <div style="display: inline-block;margin: 0 10px;">
                    <mt-image src="../public/images/3jlgj.png" style="width:40px;" :watermark="false">
                    </mt-image>
                </div>
                <div class="sdys_left">
                    <div class="sdys_leftup">
                        假期居旅轨迹单
                        <mt-button v-show="!fxsqValue.JLZM_EK || fxsqValue.JLZM_EK == ''" class="sdys_leftup_btn">未完成</mt-button>
                        <mt-button v-show="!!fxsqValue.JLZM_EK" class="sdys_leftup2_btn">已完成</mt-button>
                        <!-- <mt-button class="sdys_leftup2_btn">已完成</mt-button> -->
                    </div>
                    <div class="sdys_leftdown">
                        假日每天的居住旅行轨迹
                    </div>
                </div>
                <div style="display: inline-block;vertical-align: top;">
                    <mt-icon size="20px" name="icon-keyboardarrowright" class="bh-color-gray-3 xgtxbr">
                    </mt-icon>
                </div>
            </div>
            <div @click="lookCns" class="sdys_div bh-bg-color-light">
                <div style="display: inline-block;margin: 0 10px;">
                    <mt-image src="../public/images/4cns.png" style="width:40px;" :watermark="false">
                    </mt-image>
                </div>
                <div class="sdys_left">
                    <div class="sdys_leftup">
                        承诺书
                        <mt-button v-show="fxsqValue.SFCN != '1'" class="sdys_leftup_btn">未完成</mt-button>
                        <mt-button v-show="fxsqValue.SFCN == '1'" class="sdys_leftup2_btn">已完成</mt-button>
                    </div>
                    <div class="sdys_leftdown">
                        阅读内容真实性承诺书
                    </div>
                </div>
                <div style="display: inline-block;vertical-align: top;">
                    <mt-icon size="20px" name="icon-keyboardarrowright" class="bh-color-gray-3 xgtxbr">
                    </mt-icon>
                </div>
            </div>
        </div>

        <div id="addfxsq_grxx" v-show="type == 2">
            <div style="padding-left: 10px;background-color: white;height: 50px;line-height: 50px;">
                <span class="green_span"></span>
                <span class="addfxsq_form_title">逾期信息</span>
            </div>
            <emapm-form :model="model" v-model="fxsqValue" :custom-vm="customVm" ref="form2" :readonly="readonly">
            </emapm-form>
        </div>
    </div>
</mt-layout-container>